.nav_Personal {
	width: 200px;
	background-color: #fafafa;
}

.nav_list li,
.line_height1 {
	line-height: 45px;
	text-align: center;
}

.nav_list li a {
	border-left: 3px solid #fff;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #ededed;
}

.nav_list li a,
.nav_list li a:hover {
	display: block;
}

.nav_list li a:hover {
	background-color: #fff;
	font-weight: bold;
	border-left: 3px solid #EC971F;
	
	border-bottom: 1px solid #ededed;
}

.bline {
	height: 20px;
	width: 100%;
}

.bline_top10 {
	margin-top: 10px;
}

.span_money {
	color: #f76b04;
	font: 16px;
	font-family: "微软雅黑";
	font-weight: bold;
}

.line_height1 {
	line-height: 25px;
}

.line_height1 button {}

.button10 {
	margin-top: 10px;
}

.con_left_bline {
	margin-left: 30px;
}

.con_under1 {
	border-bottom: 1px solid #d2d2d2;
}

.nav_tab1 {
	text-align: right;
}

.nav_tab1 li {
	float: right;
}

.nav_tab1 li a {
	text-align: center;
	display: block;
	border: 2px solid #fff;
}

.nav_tab1 li a:hover,
.nav_tab1_hover {
	position: relative;
	bottom: -1px;
	border-top: 0px solid #EC971F;
	border-bottom: 2px solid #fff;
	border-left: 1px solid #ededed;
	border-right: 1px solid #ededed;
	display: block;
	text-align: center;
}

.title_bold {
	font-weight: bold;
}

.font_size12 {
	font-size: 12px;
}

.float_left {
	float: left;
}

.float_right {
	float: right;
}

.orange {
	color: #f76b04;
}
.card_1 a img{ margin:7px 5px 7px 5px; padding: 5px;}
.card_1 a:hover img{border: 1px solid #EC971F;}
.card_1 a img{ border: 1px solid #cccccc;}
.con_content{ line-height: 20px; text-align: left; vertical-align: top;}
.con_con{ background-color: #f5f5f5;}
.con_con ul{ padding:20px 30px}
.con_con ul li span{ width: 100%;}
.border_right{  border-right: 1px solid #ccc;}
.ico1{ float: right; }
.ico1 span{ margin-left: 10px;}
.circle1{width:60px; height:60px; background-color:#fff; border-radius:30px; border: 2px solid #ccc; }
.circle1_1{height:60px; line-height:60px; display:block; color:#cecdcd; text-align:center;color: #666; font-size: 16px;}
.circle2{width:60px; height:60px; background-color:#EC971F; border-radius:30px;}
.circle2_1{height:60px; line-height:60px; display:block; color:#FFF; text-align:center;font-size: 16px;}
.width900{width: 900px; margin:auto;  padding-top: 40px;}
.lld_1{text-align: right; line-height: 30px;}
.lld_01 ul li span{  margin-top: 10px; padding:0px 5px;}
.lld_01 ul li{  width: 100%; clear: both;}
.lld_01 input{ margin: 0px;}
.color_red{ color: red;}
.lld_01 span col-md-1,.lld_01 span col-md-2,.lld_01 span col-md-3,.lld_01 span col-md-4,.lld_01 span col-md-5,.lld_01 span col-md-6,.lld_01 span col-md-7,.lld_01 span col-md-8,.lld_01 span col-md-9,.lld_01 span col-md-10{padding: 0px; margin: 0px ;}
.yes_1{background-color: #04c40d;  color:#fff; text-align: center; height: 35px; border-top-left-radius: 3px;border-bottom-left-radius: 3px;}
.yes_2{background-color: #fff;  color:#666; text-align: center; height: 35px; border-top-right-radius: 3px;border-bottom-right-radius: 3px;}
.banner1{background-image: url(../images/lld/hjd_banner.jpg); width: 100%; margin: auto; height: 404px;}
.banner1 a,.banner2 a{ width: 100%; height: 404px; display: block;}
.banner2{background-image: url(../images/lld/hqd_banner.jpg); width: 100%; margin: auto; height: 404px;}
.lld_con{line-height: 30px; text-indent: 2em;}
.container1{width: 1106px; margin: auto;}

.lld_p1{ width: 350px; float: left; background-color: #efeeee; height: 205px; margin: 5px;padding-top: 20px; }
.lld_p2{ width: 350px; float: left; background-color: #ff9f66; height: 205px; margin: 5px;padding-top: 20px; }
.circle3{width:100px; height:100px;  border-radius:50px; border: 3px solid #fff;}
.circle3_1{height:100px; line-height:100px; display:block; color:#FFF; text-align:center; font-size: 16px; font-size: 48px; font-family:"微软雅黑"}
.circle4{width:100px; height:100px;  border-radius:50px; border: 3px solid #fe6103;}
.circle4_1{height:100px; line-height:100px; display:block; color:#fe6103; text-align:center; font-size: 16px; font-size: 48px; font-family:"微软雅黑"}
.lld_p1_title{ text-align: center; font-size: 24px; margin-top: 20px; color: #fe6103; width: 100%;}
.tab_01 { margin-top: 10px;}
.tab_01 tr td{line-height: 30px; padding-top: 10px;}
.tab_01_td1{ background-color: #fbdac7; }
.tab_01_td2{ background-color: #ff9f66;}
.tab_01_td3{ background-color: #fdd1b7;}
.tab_01_td4{ background-color: #999999;}
.tab_svg1{ float: left; width:10%; text-align: center;}
.tab_svg1_con{float: left;width:90%}
.width960{ width: 960px; margin: auto;}
.lan{ color: #38cdb4;}
.label1{width: 30% ; float: left; margin-top: 10px;}


.qA_1 {  clear: both; margin-bottom: 30px; margin-top: 20px;}
.qA_1 ul{  padding: 0px; margin: 0px;}
.qA_1 ul li{ line-height: 35px;}
.QA_li_01{}
.QA_li_01 ul li{padding: 0px; margin: 0px;}
.svg_da{width:24px;height:24px;position: relative; top:5px; }
.svg_wen{width:30px;height:30px; position: relative; top:20px}
.con_con1{ background-color:#f1f5fb ; border: 1px solid #d1e1f4;  padding: 20px 20px 10px 20px;}
.con_time1 ul{margin:0px; padding: 0px;  display: block; height: 50px; }
.con_time1 ul li{ float: left;}
.li_time_label{ width: 50px; line-height: 35px;}
.li_time_form{ width: 200px;}
.width20{ float: left; width: 20%;}
.tab_02{ line-height: 25px; text-align:left}
.tab_02_1{ background-color: #feedd4; font-weight: bold; }
.tab_02 tr td{padding: 10px; border: 1px solid #dddcdc; }
.tab_02_2{background-color: #f3f3f3;}
